body 
{
	color: #007bff;
	background-color: black;
	background: url('pictures/background.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size:100% 100%;

}	
p
{
	display: block;
}
td
{
	text-align: center;
		
}
th 
{
	text-align: center;
}
table 
{
	border: none;
}
ul
{
	display: inline-block;
}
li
{
	display: inline-block;
}
.weapon > img 
{
	border-radius: 30px;
}
#content 
{
	padding: 6px;
}

.navbar-nav {
	display: inline-block;
}
.weapon > img {
	width: 500px; 
}
.ammo
{
	display: none;
	transition-duration: 3s;
}
.weapon 
{
	width: 850px;
}

.toggle-content {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
	display: block;
	height: auto;
}