body 
{
	color: #007bff;
	background-color: black;
	background: url('pictures/background.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size:100% 100%;
  	padding-top: 50px;

}	
p
{
	display: block;
}
td
{
	text-align: left;
	line-height: 0.8;
}
td:first-child
{
	text-align: left;
	width: 130px;
	
}

th 
{
	text-align: center;
	border:none;
}
table 
{
	border: none;
	border-radius: 15px;
	white-space: nowrap;
	border-collapse: separate;
}
thead 
{
	border:none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}
ul
{
	display: inline-block;
}
li
{
	display: inline-block;
}
nav 
{
	position: fixed;
	width: 100%;
	top: 0;
	height: 50px;
	padding-right: 20px;
}

.ammo 
{

	flex-direction: column-reverse;
}
.name {
	display: table;
	overflow: hidden;
	width: 180px;
	height: 174px;
	margin-right: 10px;
}
.name > p 
{
	display: table-cell;
	vertical-align: middle;
}
.weapon {
	display: flex;
	flex-wrap: wrap;
	width: 950px;
}
.weapon > p 
{
	width: 140px;
	margin-top: 50px;
	
}
.image > img 
{
	flex: 1;
	height: 180px;
	width: 498px;
	border-radius: 30px;
	margin-bottom: 10px;
	
}
#content 
{
	padding: 6px;
}

.navbar-nav {
	display: inline-block;
}

